
.text-right{
	text-align: right;
}

label{
	margin-top: 6px;
}

/*Custom margin, padding class*/

/* margin Bottom */
.mrgB5{
	margin-bottom: 5px;
}

.mrgB10{
	margin-bottom: 10px;
}

.mrgB15{
	margin-bottom: 15px;
}

.mrgB20{
	margin-bottom: 20px;
}

.mrgB25{
	margin-bottom: 25px;
}

.mrgB30{
	margin-bottom: 30px;
}

.mrgB50{
	margin-bottom: 50px;
}

/* margin Top */
.mrgT5{
	margin-top: 5px;
}

.mrgT10{
	margin-top: 10px;
}

.mrgT15{
	margin-top: 15px;
}

.mrgT20{
	margin-top: 20px;
}

.mrgT25{
	margin-top: 25px;
}

.mrgT30{
	margin-top: 30px;
}

.mrgT50{
	margin-top: 50px;
}

/*margin Left */
.mrgL5{
	margin-left: 5px;
}

.mrgL10{
	margin-left: 10px;
}

.mrgL15{
	margin-left: 15px;
}

.mrgL20{
	margin-left: 20px;
}

.mrgL25{
	margin-left: 25px;
}

.mrgL30{
	margin-left: 30px;
}

.mrgL50{
	margin-left: 50px;
}

/* margin Right */
.mrgR5{
	margin-right: 5px;
}

.mrgR10{
	margin-right: 10px;
}

.mrgR15{
	margin-right: 15px;
}

.mrgR20{
	margin-right: 20px;
}

.mrgR25{
	margin-right: 25px;
}

.mrgR30{
	margin-right: 30px;
}

.mrgR50{
	margin-right: 50px;
}

/* margin All */
.mrgA5{
	margin: 5px;
}

.mrgA10{
	margin: 10px;
}

.mrgA15{
	margin: 15px;
}

.mrgA20{
	margin: 20px;
}

.mrgA25{
	margin: 25px;
}

.mrgA30{
	margin: 30px;
}

.mrgA50{
	margin: 50px;
}

/* padding Bottom */
.padB5{
	padding-bottom: 5px;
}

.padB10{
	padding-bottom: 10px;
}

.padB15{
	padding-bottom: 15px;
}

.padB20{
	padding-bottom: 20px;
}

.padB25{
	padding-bottom: 25px;
}

.padB30{
	padding-bottom: 30px;
}

.padB50{
	padding-bottom: 50px;
}

/* padding Top */
.padT5{
	padding-top: 5px;
}

.padT10{
	padding-top: 10px;
}

.padT15{
	padding-top: 15px;
}

.padT20{
	padding-top: 20px;
}

.padT25{
	padding-top: 25px;
}

.padT30{
	padding-top: 30px;
}

.padT50{
	padding-top: 50px;
}

/*padding Left */
.padL5{
	padding-left: 5px;
}

.padL10{
	padding-left: 10px;
}

.padL15{
	padding-left: 15px;
}

.padL20{
	padding-left: 20px;
}

.padL25{
	padding-left: 25px;
}

.padL30{
	padding-left: 30px;
}

.padL50{
	padding-left: 50px;
}

/* padding Right */
.padR5{
	padding-right: 5px;
}

.padR10{
	padding-right: 10px;
}

.padR15{
	padding-right: 15px;
}

.padR20{
	padding-right: 20px;
}

.padR25{
	padding-right: 25px;
}

.padR30{
	padding-right: 30px;
}

.padR50{
	padding-right: 50px;
}

/* padding All */
.padA5{
	padding: 5px;
}

.padA10{
	padding: 10px;
}

.padA15{
	padding: 15px;
}

.padA20{
	padding: 20px;
}

.padA25{
	padding: 25px;
}

.padA30{
	padding: 30px;
}

.padA50{
	padding: 50px;
}



.fnt16{
	font-size: 16px;
}

.fnt18{
	font-size: 18px;
}

.wid100{
	width: 100%;
}
